name: Test

on:
  push:
    branches:
    - '**'
    paths:
     - 'rnd-template/**'
     - 'tests/**'

jobs:
  test:
    name: Run tests.
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository
        uses: actions/checkout@v4
      - name: Set up python
        id: setup-python
        uses: actions/setup-python@v5
        with:
          python-version: "3.10"
      - uses: webfactory/ssh-agent@v0.9.0
        with:
          ssh-private-key: ${{ secrets.AWS_EC2_textshuttle_dev }}
      - name: Bootstrap poetry
        run: |
          curl -sL https://install.python-poetry.org | python - -y --version 1.8.2
      - name: Install project
        run: poetry install
        working-directory: .
      - name: Run tests
        run: poetry run python -m pytest -rxXs -v
        working-directory: .
